/**
 * Description: Mumbo.
 * Version: 0.1.0
 * Last update: 2015/01/09
 * Author: Owlsky ING <hpying005@gmail.com>
 *
 */

/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-size: 14px;
  line-height: 25px;
  color: #7b7b7b;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  color: #000;
}

/* ==========================================================================
   Layout
   ========================================================================== */


/* ==========================================================================
   Modules
   ========================================================================== */


/* ==========================================================================
   Utilities
   ========================================================================== */

.is-hidden { display: none; }
