/**
 * Description: Mumbo.
 * Version: 0.1.0
 * Last update: 2015/01/09
 * Author: Owlsky ING <hpying005@gmail.com>
 *
 */

/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-size: 14px;
  line-height: 25px;
  color: #7b7b7b;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  color: #000;
}

/* ==========================================================================
   Layout
   ========================================================================== */

/* Grid
   ========================================================================== */

.container {
  width: 940px;
  margin: 0 auto;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.columns {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.four { width: 300px; }
.eight { width: 620px; }
.twelve { width: 940px; }

/* ==========================================================================
   Modules
   ========================================================================== */


/* ==========================================================================
   Utilities
   ========================================================================== */

.is-hidden { display: none; }

.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}
.row:after,
.clearfix:after {
  clear: both;
}
